.card {
    color: var(--color);
    background-color: var(--background-color);
    position: relative;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}