div.tooltip {
    padding: var(--padding-sm) var(--padding-md);
    border-radius: 0;
    font-size: var(--font-size-sm);
    color: var(--tooltip-color);
    background-color: var(--tooltip-background-color);

    &.place-top::after {
        border-top-color: var(--tooltip-background-color);
    }

    &.place-right::after {
        border-right-color: var(--tooltip-background-color);
    }

    &.place-bottom::after {
        border-bottom-color: var(--tooltip-background-color);
    }

    &.place-left::after {
        border-left-color: var(--tooltip-background-color);
    }
}